.Background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  background: linear-gradient(320deg, #f27121, #e94057, #8a2387);
  z-index: -1;
}
