.GameResult {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.2);
  .Modal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: black;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .ModalWrapper {
    padding: 2rem;
    position: relative;
  }
  .Button {
    width: 100%;
    text-align: center;
  }
}

.Inputs {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.ButtonRow {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    margin: 0rem 1rem;
    padding: 0.5rem 2rem;
    background-color: rgba(0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    color: #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
}
