.HighscoreWrapper {
  height: 80vh;
  font-size: 20px;
  overflow: scroll;
  position: relative;
}

.Player {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
}

.Rank {
  width: 10%;
}
.Name {
  width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 5%;
}
.Score {
  width: 15%;
  color: greenyellow;
  font-size: 28px;
  align-self: flex-end;
}
