.MultiplayerGameContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  width: 95%;
  font-size: 1.5vw;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  padding: 1vw 0vw;
}

.TitleWrapper {
  position: relative;
  text-align: center;
  font-size: 2.5vw;
  color: #ffdc7f;
  width: 100%;
  margin-bottom: 1vw;
}
.Cup {
  position: absolute;
  top: -80%;
  left: 5%;
}

.MultiplayerGameRow {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.75vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  margin-top: 0.25vw;
  font-size: 1.25vw;
  width: 80%;
}
