@media(max-width: 1299px) {
    .VacancyWrapper {
        font-size: 10px;
    }
}

@media(min-width: 1300px) {
    .VacancyWrapper {
        font-size: 12px;
    }
}

@media(max-width: 700px) {
    .VacancyWrapper:not(:first-of-type) {
        margin: 25px 0px;
    }
}

@media(min-width: 701px) {
    .VacancyWrapper {
        width: 30%;
    }
}

.VacancyWrapper {
    box-sizing: border-box;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 4px 8px 32px 0 rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(200, 200, 200, 0.08);
    border-color: rgba(100, 100, 100, 0.1);
    border-radius: 5px;
    color: #eeeeee;
}