@media(max-width: 600px) {}

@media(max-width: 1299px) {
    .Headline {
        font-size: 16px;
    }
    .MotivationsText {
        font-size: 12px;
        line-height: 1.5;
    }
    .additional {
        font-size: 8px !important;
    }
}

@media(min-width: 1300px) {
    .Headline {
        font-size: 24px;
    }
    .MotivationsText {
        font-size: 16px;
        line-height: 1.5;
    }
    .additional {
        font-size: 10px !important;
    }
}

.Wrapper {
    position: relative;
    height: 100%;
    display: flex;
    padding: 25px;
    box-sizing: border-box;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    z-index: 1;
    width: 100%;
    color: #eeeeee;
}

.Headline {
    position: absolute;
    top: 25px;
    color: #eeeeee;
}

.MotivationsText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: 80%;
    margin-top: 40px;
    overflow-y: scroll;
}

.TextField {
    width: 95%;
    text-align: left;
}

::-webkit-scrollbar {
    position: absolute;
    width: 0.5em;
    border-radius: 5px;
    background-color: rgba(57, 211, 231, 0.15);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(57, 211, 231, 0.55);
    border-radius: 5px;
    outline: 0px;
}


/* pink */


/* rgba(255, 22, 185 */


/* #39d3e7 */


/* türkis
rgb(57, 211, 231)
#39d3e7 */