.GameWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.BoardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  height: 605px;
}

.HeaderSpacer {
  height: 125px;
}

.FakeColumn {
  .ContentColumn {
    .Column {
      border: none;
      background: rgba(255, 255, 255, 0);
      box-shadow: none;
    }
  }
}

.ContentColumn {
  width: 230px;
  height: 480px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
}

.Column {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
  height: 130px;
  width: 130px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(255, 255, 255, 1);
}
.ColumnTitle {
  font-size: 32px;
  color: darkgreen;
}
.ColumnValue {
  font-size: 42px;
  color: darkgreen;
}

.HintRow {
  display: flex;
  height: 70px;
  width: 688px;
  font-size: 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(255, 255, 255, 1);
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: relative;
  .correctWords {
    position: absolute;
    top: -60px;
    font-size: 51px;
    right: 5%;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
    background: rgba(255, 0, 255, 0.57);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.2px);
    -webkit-backdrop-filter: blur(1.2px);
    border: 1px solid rgba(255, 255, 255, 1);
  }
}

.Board {
  width: 688px;
  height: 480px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}
