.GameWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 10vh;
}

.BoardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.FakeColumn {
  .Row {
    .Column {
      border: 1px solid rgba(255, 255, 255, 0);
      background: rgba(255, 255, 255, 0);
      backdrop-filter: none;
      box-shadow: 0 4px 30px rgba(255, 255, 255, 0);
      -webkit-backdrop-filter: none;
    }
  }
}

.ColumnRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  row-gap: 1rem;
}

.Column {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: middle;
  flex-direction: row;
  height: 10vh;
  width: 10vw;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.ColumnTitle {
  font-size: 32px;
}
.ColumnValue {
  font-size: 42px;
}

.HintRow {
  font-family: 'Unbounded', sans-serif;
  color: #ffdc7f;
  font-weight: 700;
  display: flex;
  padding: 0.5rem 1rem;
  width: 30vw;
  font-size: 40px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  justify-content: start;
  position: relative;
  transform: translateX(-7%) translateY(10%) rotate(-1deg);
  z-index: 10;
  .correctWords {
    padding: 0.5rem;
    position: absolute;
    top: -60px;
    font-size: 51px;
    right: -10%;
    border-radius: 10px;
    height: 5rem;
    width: 3rem;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transform: rotate(10deg);
  }
}

.Board {
  display: grid;
  justify-content: space-around;
  vertical-align: middle;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  width: 40vw;
  height: 50vh;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-family: 'Unbounded', sans-serif;
  font-style: normal;
}
.PlayerName {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.Icon {
  text-align: center;
  img {
    width: 2.5rem;
  }
}
.Content {
  width: 60%;
  text-align: center;
}

.StatisticColumn {
  height: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  transform: rotate(5deg) translateY(-10%);
  z-index: 10;
  color: #fff;
}
