.GameWrapper {
  color: #ddd;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
}

.TopBar {
  height: 20%;
  width: 100%;
}
.Content {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
}

.BoardWrapper {
  width: 80%;
}
.SideBar {
  width: 20%;
  color: #dddddd;
}
.HighscoreWrapper {
  height: 50%;
}
.Countdown {
  height: 20%;
  color: red;
  font-size: 48px;
}

.NewGameButtonWrapper {
  height: 30%;
  display: flex;
  flex-direction: column;
}

.NewGameButton {
  width: 7.5rem;
  height: 7.5rem;
}
