.CardWrapper {
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 1rem;
}

.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 7.5rem;
  height: 10rem;
  color: #ddd;
  background-color: #222;
  cursor: pointer;

  &.A {
    background-color: aqua;
  }
  &.B {
    background-color: brown;
  }
}
