.CardWrapper {
  justify-content: center;
  display: flex;
  padding: 1rem;
}

.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 10rem;
  height: 10rem;
  color: #ddd;
  background-color: #222;
  border-radius: 20px;
  box-shadow: #ddd;
  cursor: pointer;

  &.true {
    background-color: green;
  }
  &.false {
    background-color: red;
  }
}
