.Title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.Inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.Button {
  margin-left: 2rem;
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.TextInputCustom {
  width: 20rem;
}
