.ExplanationWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.Explanation {
  z-index: 1;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8);
}
